@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

.bodyLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;

}

.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: #000;
    box-shadow: 0 0 50px #0ef;
    border-radius: 20px;
    padding: 40px;
}

.wrapper:hover {
    animation: animate 1s linear infinite;
}


@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

.fromWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.h2Style {
    font-size: 30px;
    color: white;
    text-align: center;

}

.inputGroup{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.inputGroupLabel {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 25px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.inputGroupInput {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;

}

.inputGroupInput:focus~label,
.inputGroupInput:valid~label {
    top: 5px;
}

.btnCustom {
    position: relative;
    width: 100%;
    height: 40px;
    background: #0ef;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}


